<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>UniSearch</title>
		<link rel="stylesheet" type="text/css" href="base.css" />
	</head>
	<body>
		<h2 align="center">Unisearch</h2>
		<div id="university_list">
			<ul>
			{% block plug %}
			{% endblock %}
			</ul>
		</div>
 		<div><marquee>thanks for using our site</marquee></div>
		<div id="nav">
			<ul>
				<li><a href="">Previous</a></li>
				<li><a href="">Next</a></li>
			</ul>
			
			{% block university%}
			{% endblock %}
			
		</div>
		<div id="content">
		
			{% block content %}
			{% endblock %}
		
		</div>
		<div id="filter">
			{% block city %}
			{% endblock %}
		</div>
	</body>
</html>

