<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>UniSearch</title>
		<
	</head>
	<body>
		<h2 align="center">Unisearch</h2>
			{% block plug %}
			{% endblock %}
 		<div><marquee>thanks for using our site</marquee></div>
		<div id="nav">
			<ul>
				<li><a href="">Previous</a></li>
				<li><a href="">Next</a></li>
			</ul>
		</div>
		<div id="content">
			
		</div>
	</body>
</html>

